label {
    font-size: 20px;
}

tr {
    text-align: center;
}

.padding-side-inputs {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.resultados-div {
    display: none;
}
