label {
    font-size: 20px;
}

tr {
    text-align: center;
}

.padding-side-inputs {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.resultados-div {
    display: none;
}

.table-head {
    background-color: #001f3f !important;
    color: hsla(210, 100%, 75%, 1.0) !important;
    border-color: black;
} 

span {
    background-color: #001f3f !important;
    color: hsla(210, 100%, 75%, 1.0) !important;
}

.btn-orange {
    background-color: #FF851B;
}

#pos-caja-principal {
    width: 100%
}
