<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cableado</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="css/libs/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="{% static 'calculo/css/libs/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="css/styles.css" /> -->
    <link rel="stylesheet" href="{% static 'calculo/css/styles.css' %}">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mb-4">Cálculo de Cableado</h1>

      <div class="row mb-5">
        <div class="col pl-5 pr-5 padding-side-inputs">
          <label for="margen-error">Margen de Error</label>
          <div class="input-group mb-4">
            <input
              type="range"
              class="form-control"
              id="margen-error"
              min="0"
              max="25"
              oninput="rangeValue(this.value)"
            />
            <div class="input-group-append">
              <span class="margen-error-label input-group-text">12%</span>
            </div>
          </div>

          <label for="cable-computadora"
            >Distancia de clable a computadoras</label
          >
          <div class="input-group">
            <input
              type="number"
              id="cable-computadora"
              class="form-control"
              value="8"
              min="0"
            />
            <div class="input-group-append">
              <span class="input-group-text">m</span>
            </div>
          </div>
        </div>

        <div class="col pl-5 pr-5 padding-side-inputs">
          <label for="precio-cable">Precio del metro de cable</label>

          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>

            <input
              type="number"
              id="precio-cable"
              class="form-control"
              min="0"
              value="1"
            />
          </div>

          <label for="pisos">Pisos</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Ps.</span>
            </div>

            <input
              type="number"
              id="pisos"
              class="form-control"
              value="1"
              min="0"
            />
          </div>
        </div>
      </div>



      <hr />

      <h3 class="mb-4">Ingrese los datos de las habitaciones:</h3>

      <table class="table  table-striped">
        <thead class="table-bordered">
          <tr>
            <th class="align-middle table-head">#</th>
            <th class="align-middle table-head">Computadoras</th>
            <th class="align-middle table-head">Posición X</th>
            <th class="align-middle table-head">Posición Y</th>
            <th class="align-middle table-head">Ancho</th>
            <th class="align-middle table-head">Alto</th>
            <th class="align-middle table-head">Habitacion Anterior</th>
          </tr>
        </thead>
        <tbody class="tabla-habitaciones">
          <tr>
            <th class="align-middle">0</th>
            <td class="align-middle">0</td>
            <td><input type="number" class="xpos form-control" value='0' min="0" /></td>
            <td><input type="number" class="ypos form-control" value='0' min="0" /></td>
            <td><input type="number" class="ancho p-ancho form-control" value='0' min="0" /></td>
            <td><input type="number" class="alto p-alto form-control" value='0' min="0" /></td>
            <td class="align-middle">Ninguna</td>
          </tr>
        </tbody>
      </table>

      <!-- <div class="row text-center">
        <div class="offset-md-3 mt-5">
          <h4>Posicion de la caja en la habitación principal</h4>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-4 col-md-3 mb-5 mt-1">
          <select class="custom-select" id="pos-caja-principal"></select>
        </div>
      </div> -->

      <div class="row mb-5">
        <div class="offset-md-1 col-md-3">
          <button class="btn btn-orange btn-block agregar-habitacion">
            Agregar Habitacion
          </button>
        </div>

        <div class="col-md-3">
          <button class="btn btn-orange btn-block calcular">Calcular</button>
        </div>

        <div class="col-md-3">
          <button class="btn btn-orange btn-block borrar-habitaciones">
            Borrar
          </button>
        </div>
      </div>

      <div class="resultados-div">
        <hr />
        <h1 class="text-center mb-4 mt-5">Resultados</h1>
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="align-middle table-head">Cableado Aereo (m)</th>
              <th class="align-middle table-head">Cableado Bajada (m)</th>
              <th class="align-middle table-head">Error (%)</th>
              <th class="align-middle table-head">Total por Piso (m)</th>
              <th class="align-middle table-head">Precio por piso ($)</th>
            </tr>
          </thead>
          <tbody class="tabla-resultados-piso">
            <tr>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="offset-md-4 col-md-4">
            <table class="table table-bordered table-hover">
              <thead class="thead-dark">
                <tr>
                  <th class="align-middle table-head">Total (m)</th>
                  <th class="align-middle table-head">Precio ($)</th>
                </tr>
              </thead>
              <tbody class="tabla-resultados-total">
                <tr>
                  <td class="align-middle">0</td>
                  <td class="align-middle">0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <h1 class="text-center mb-4 mt-5">Plano</h1>
        <div class="row mb-5 mt-5">
          <canvas id="canvas" width="1200" height="1200"></canvas>
        </div>

      </div>
    </div>

    <!-- <script src="js/libs/jquery.min.js"></script> -->
    <script src="{% static 'calculo/js/libs/jquery.min.js' %}"></script>
    <!-- <script src="js/libs/bootstrap.min.js"></script> -->
    <script src="{% static 'calculo/js/libs/bootstrap.min.js' %}"></script>
    <!-- <script src="js/utils.js"></script> -->
    <script src="{% static 'calculo/js/utils.js' %}"></script>
    <!-- <script src="js/app.js"></script> -->
    <script src="{% static 'calculo/js/app.js' %}"></script>
  </body>
</html>
